.calendar {
    border-radius: 8px;
    padding: 10px;
    width: 100%;
    font-family: Arial, sans-serif;
    font-weight: bold;
}


.calendar-body , .calendar-header{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0.8px;
}

.calendar-cell {
    padding: 10px;
    text-align: center;
  }
  

.calendar-cell {
    background: #222;
    padding: 5px;
    text-align: center;
    font-size: 8px;
}

.calendar-cell.header {
    font-weight: bold;
    background-color: #333;
}

.calendar-cell.positive {
    background-color: #00FF88;
}
.calendar-cell.grey {
    background-color: #aaaaaa;
}

.calendar-cell.negative {
    background-color: #FF5A5A;
}

.calendar-cell.empty {
    background: transparent;
}

.pl-value {
    margin-top: 5px;
    font-size: 12px;
}