.klkjio {
  top: 3em;
  width: 26em;
  left: 2em;
  height: 23em;
}

.oiojkb {
  color: black;
  font-weight: bold !important;
}

.qsdxcv {
  font-weight: bold;
  top: 1em;
  left: 0.1em;
  position: relative;
}

.klkjio {
  position: relative;
  text-align: start;
}

.rtgbn {
  display: flex;
}

.zdgl {
  font-size: 0.85em;
}
