.klkjio{
    top: 3em;
    width: 26em;
    left: 2em;
    height: 23em;
}

.qsdxcv{
    font-weight: bold;
    top: 1em;
    left: 0.1em;
    position: relative;
}

.klkjio{
    position: relative;
    text-align: start;

}

.rtgbn{
    display: flex;
    
}

.zdgl{
    font-size: 0.85em;
    
}