.menu{
    position: fixed;
    display: flex;
    list-style-type: none;
    margin-left: 75em;
    margin-top: 2em;
    font-size: 17px;
    z-index: 2;
   width: 15em;
}

.link{
    
    
    margin-right: 1.6em;
    border-radius: 1em;
}

.modal{
    margin-top: 10em;
    height: 50em;
}

.modal2{
    margin-top: 7em;
}

.emailg{
    text-align: center;
}
.emailField ,.passField{
    width: 20em;
}

.rdbutton{
    position: relative;
    top: 0.5em;
    border: none;
    background-color: rgba(0,0,0,0);
}

.ashsbhjcbdackjdscb {
    margin: 1vw;
}

.navbar {
    position: absolute;
}

.navbar {
    width: 20vw;
    height: 5vw;
    margin-top: 1vw;
    margin-left: 76vw;
    z-index: 5;
}

.nav-item {
    font-size: 5vw;
    margin: 1vw;
    height: 10vw;
    width: 8vw;
}

.jchjsdbchsdvvbsdv{
    margin: auto;
}

.custom-navbar {
    background-color: transparent !important;
    border: none;
  }

@media (max-width: 990px) {
    .nav-item {
        margin: 1vw;
        width: 20vw;
    }
}

@media (max-width: 420px) {
    .nav-item {
        width: 25vw;
    }
}