/* .paper-trade-table-container {
  width: 100%;
}

.paper-trade-balance-container {
  text-align: left;
  font-size: 18px;
  font-weight: bold;
}

.paper-trade-table-wrapper {
  width: 100%;
  height: 500px;
  overflow-x: auto;
  overflow-y: auto;
}

.paper-trade-table {
  width: 100%;
  border-collapse: collapse;
}

.paper-trade-table th,
.paper-trade-table td {
  padding: 9px;
  text-align: left;
  border: 1px solid #ddd;
}

.paper-trade-table th {
  background-color: grey;
  border: 0 white transparent;
}

.paper-trade-table thead {
  background-color: #f4f4f4;
} */

.paper-trade-table-wrapper {
  max-height: 400px; 
  overflow-y: auto; /* Enable vertical scrolling */
}

.paper-trade-table-wrapper::-webkit-scrollbar {
  width: 0; /* Hides the scrollbar */
  height: 0; /* Hides the horizontal scrollbar if any */
}
.paper-trade-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
}


.paper-trade-table th, .paper-trade-table td {
  padding: 8px;
  text-align: left;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.paper-trade-table th {
  background-color: #e4e3e3;
  color: black !important;
  border: 1px solid black !important;

  position: sticky; /* This keeps the header fixed at the top */
  top: 0; /* Keep it at the top */
  z-index: 1; /* Ensure it's above the table body */
}

.paper-trade-table td {
  background-color: transparent;
}


@media (max-width: 600px) {
  .paper-trade-table,
  .paper-trade-table thead,
  .paper-trade-table tbody,
  .paper-trade-table th,
  .paper-trade-table td,
  .paper-trade-table tr {
    display: block;
    width: 100%;
  }

  .paper-trade-table tr {
    margin-bottom: 15px;
  }

  .paper-trade-table th {
    text-align: right;
  }

  .paper-trade-table th::after {
    content: ": ";
  }

  .paper-trade-table td {
    text-align: left;
    padding-left: 50%;
    position: relative;
  }

  .paper-trade-table td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    padding-left: 10px;
    font-weight: bold;
  }
}
