.paper-trade-table-wrapper {
  max-height: 400px; 
  width: 100%;
  overflow-x: auto;
  overflow-y: auto; /* Enable vertical scrolling */
}

.gfhglio{
  position: absolute;
  left: 48%;
  top: 15%;
}

.hjg{
  margin-top:8em;
}

.phjhverthj{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2.8em;
}
.phjhverthj2{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2.8em;
}

.paper-trade-table-wrapper::-webkit-scrollbar {
  width: 0; /* Hides the scrollbar */
  height: 0; /* Hides the horizontal scrollbar if any */
}
.paper-trade-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
}


.paper-trade-table th, .paper-trade-table td {
  padding: 8px;
  text-align: left;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.paper-trade-table th {
  background-color: #e4e3e3;
  color: black !important;
  border: 1px solid black !important;

  position: sticky; /* This keeps the header fixed at the top */
  top: 0; /* Keep it at the top */
  z-index: 1; /* Ensure it's above the table body */
}

.paper-trade-table td {
  background-color: transparent;
}


@media (max-width: 600px) {
  .paper-trade-table,
  .paper-trade-table thead,
  .paper-trade-table tbody,
  .paper-trade-table th,
  .paper-trade-table td,
  .paper-trade-table tr {
    /* display: block; */
    width: 100%;
  }

  .tfghnc{
    flex-direction: column;
    gap: 0;
    align-items: start;

  }

  .phjhverthj{
    flex-direction: column;
    gap: 0;
    align-items: start !important;
  }

  .phjhverthj2 {
    width: 100%;
    padding-right: 0.8em;
    margin-top: 0.6em;
}
  .paper-trade-table tr {
    margin-bottom: 15px;
  }

  .paper-trade-table th {
    text-align: right;
  }

  .paper-trade-table th::after {
    content: ": ";
  }

  .paper-trade-table td {
    text-align: left;
    padding-left: 50%;
    position: relative;
  }

  .paper-trade-table td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    padding-left: 10px;
    font-weight: bold;
  }
}


@media (max-width: 768px) {
  .paper-trade-table th, .paper-trade-table td {
    font-size: 12px;  /* Smaller font for mobile */
    padding: 8px;     /* Reduce padding on mobile */
  }

  .paper-trade-table {
    width: 100%;
    overflow-x: auto;
    display: block;
    white-space: nowrap;  /* Prevent text wrapping */
  }
}