.abnc{
    position: relative;
    margin-top: 7em;
    margin-left: 21em;
    margin-bottom: 10em;
    width: 60em;
    height: 40em;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 0.5em;
}

.profilePic{
    position: relative;
    height: 10em;
    width: 10em;
    margin-left: 25em;
    margin-top: 5em;
    margin-block: 2em;
}

.profilePic2{
    position: relative;
    border-radius: 50%;
    height: 7em;
    width: 7em;
    margin-top: 0.2em;
}

.profilePic33{
    position: relative;
    height: 10em;
    width: 10em;
    margin-top: 0.2em;
}

.akju{
    height: 2em;
    width: 2em;
    text-align: center;
    font-size: 70px;
    color: #fff;
    font-weight: 500;
    line-height: 150px;
}

.ksljd{
    position: absolute;
    left: 20em;
}

.aklc{
    font-weight: bold;
    position: relative;
}

.jhsbdhjsdhjsd{
    display: flex;
}

.kjnavrcrefcefj{
    margin-top: -65px;
    margin-left: 95px;
    margin-bottom: 105px;
}

.sdnjksdnvbshdvbhjsbhdv{
    position: relative;
    height: 5em;
    width: 5em;
    left: 6em;
    top: 5em;
}

.hsdbhbhbsbhfbhfbvhajvnjka{
    margin-top: 0px;
}

.ahuhsdddgsdvgdvsgdhv{
    position: absolute;
    height: 22px;
    margin-top: 55px;
    margin-left: 180px;
}

.absc{
    position: relative;
    height: 15em;
    width: 15em;
    margin-left: 25em;
    border-radius: 50%;
    margin-block: 2em;
}

.bgwvgahdvbasasdmnabsd{
    padding-left: 2em;
    text-align: center;
}

.vasgvchjca{
    display: flex;
    padding: 1em;
}

.bhgvghvgghgvbn{
    justify-content: center;
}

.dbnjavnnmcmasldasxasxa{
    display: inline-block;
}

/* dark */

.jhvchdfesubgbewhgd{
    background-color: #101214;
}

.hjvsgcvajsbcnascasc{
    background-color: #161A1D;
    position: relative;
    margin-top: 7em;
    margin-left: 21em;
    margin-bottom: 10em;
    width: 60em;
    height: 40em;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 0.5em;
}

.kbdsfgvbfnhavfyydcdfnm{
    color: #fff;
    background-color: #101214;
}