.center-div2 {
    text-align: center;
    margin: 5em;
  }

/* .active{
  color: white;
  border-radius: 0px;
}   */
/* 
.active:hover{
  color: white;
} */

.wsdcik{
    background-color: var(--bg-color);
    border-radius: 0.5em; 
    box-shadow: 0 0.125em 0.625em rgba(0, 0, 0, 0.2);
}

/* dark   */

.sxdcgfvhbj{
  background-color: #161A1D;
  color: white;
    border-radius: 0.5em;
    box-shadow: 
    1px 1px 10px rgba(200, 200, 200, 0.1),
    1px 1px 10px rgba(70, 70, 70, 0.1),
    1px 1px 10px rgba(200, 200, 200, 0.1),
    1px 1px 10px rgba(70, 70, 70, 0.1)
}
