.App {
  text-align: center;
}

.bg{
  position: relative;
  width: 94.9em;
  height: 45em;
}

table.table-bordered > thead > tr > th,
table.table-bordered > tbody > tr > td {
  border: none;
}

/*dark */

.dark-theme{
  text-align: center;
  background-color: #101214; /* Dark background color */
  color: #FFFFFF; /* Light text color */
}

.aaa{
  background-color: blue;
}